@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background-primary);
}

body *{
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.header img {
    margin-right: 7px;
}

.header h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: var(--content-secondary);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.control1 {
    margin-top: 3.6rem;
    width: 45%;
    margin-bottom: 2.75rem;
}

.control1 p {
    color: var(--color-brand);
    margin-bottom: 1rem;
}

.control1 h2 {
    font-size: 1.5rem;
}

.control2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.add-item {
    display: flex;
    flex-direction: row;
    line-height: 20px;
    font-weight: 600;
    width: 45%;
    margin-bottom: 2.5rem;
}

.add-item input, button{
    padding: 0.68rem;
    border-radius: .75rem;
    font-size: 1rem;  
}

.add-item input {
    border: 2px solid var(--border-primary);
    margin-right: 1rem;
    display: flex;
    flex-grow: 1;
}

.add-item input:hover {
    border: 2px solid var(--border-hover);
}

.add-item input:active {
    border: 2px solid var(--color-brand);
    outline: none;
}

.add-item input:focus {
    border: 2px solid var(--color-brand);
    outline: none;
}

.add-item input:focus::placeholder {
    color: var(--always-black);
}

.btn-add-item {
    width: 10rem;
    background-color: var(--color-brand);
    color: var(--always-white);
    border: none;
}

.btn-add-item:hover {
    background-color: var(--color-brand-hover);
}

.list-items {
    width: 45%;
}

.list-items li {
    list-style-type: none;
    background-color: var(--always-white);
    margin: .75rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: .75rem;
}

.list-item-init-content {
    display: flex;
    flex-direction: row;
}

.list-item-init-content input {
    margin-right: 12px;
    appearance: none;
    border: 2px solid var(--border-primary);
    border-radius: 35%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-self: center;
}

.list-item-init-content input:hover {
    border: 2px solid var(--border-hover);
    cursor: pointer;
}

.list-item-init-content input:checked {
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    cursor: pointer;
}

.list-item-init-content label {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 890px){
    .header {
        display: none;
    }

    .control1, .add-item {
        width: 80%;
    }

    .add-item {
        display: flex;
        flex-direction: column;
    }

    .add-item input {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .btn-add-item, .list-items {
        width: 100%;
    }

    .list-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list-items li {
        width: 80%;
        margin-bottom: 0;
    }
}